*,
*::before,
*::after {
box-sizing: border-box;
}

body {
margin: 0;
background: white;
font-family: 'Yanone Kaffeesatz', sans-serif;
overflow: hidden;
}
#game {
  width: 100vw;
  background: white;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.game_data {
  background: rgb(246, 160, 189);
  width: 100%;
  height: 100vh;
  border-top: 5px double grey;
  padding-top: 10px;
  overflow: hidden;
}
.grid {
max-width: 960px;
justify-content: center;
align-items: center;
display: flex;
flex-wrap: wrap;
}
.column1 {
  flex: 3;
  justify-content: center;
  align-items: center;
}
.column2 {
  flex: 1;
}
.card {
margin: 5px;
background-color: white;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
position: relative;
transition: all .4s linear;
transform-style: preserve-3d;
}
.card,
.back,
.front {
  height: 90px;
  width: 90px;
}
@media screen and (max-width: 380px) {
  .card,
  .back,
  .front {
    height: 80px;
    width: 80px;
  }
}
.back,
.front {
  position: absolute;
  backface-visibility: hidden;

}
.front {
  background: #FAB942 url('img/box.jpg') no-repeat center center / contain;
}
.back {
  transform: rotateY(180deg);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid pink;
}
.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: white !important;

}

#container_start {
  background-image:url('img/background2vert.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
#logo {
  margin: auto;
  padding: 60px 20px 20px 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
#logogame {
  display: none;
}
.startpage_box {
  background-color: white;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  opacity: 0.7;
  line-height: 1.5;
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
}
h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 2em;
}
p {
  padding: 10px;
}
button {
  background-color: rgb(237, 97, 97);
  font-size: 1.8em;
  margin: 5px;
  color: white;
  padding: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button:hover {
  background-color: rgb(238, 149, 149);
  transition: 0.4s;
}
a {
  text-decoration: none;
}
#timer {

}
#loss {
  display: none;
  height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

#playagain {
  display: none;
}
#points {
  display: none;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: rgb(237, 97, 97);
  font-size: 1.5em;
}
#animation {
  display: none;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.SnowExample {
position: absolute; top: -450px; text-align: center;
animation: SnowExampleSlide ease-in infinite;

animation-fill-mode: forwards;}
@keyframes SnowExampleSlide {from {position: absolute; top: -450px;} to {position: absolute; top: 1000px;}}

#monster {
  width: 500px;
}
#monsterAnimation {
  position: relative;
  bottom: -100px;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes monster {
  0%   {bottom:-100px;}
  40%  {bottom:-50px;}
  50%  {bottom:-50px;}
  60%  {bottom:-50px;}
  100% {bottom:-100px;}
}


@media screen and (min-width: 600px) {
 #container_start {
   background-image:url('img/background_1200.jpg');
 }
 .card,
 .back,
 .front {
   height: 100px;
   width: 100px;
 }
 #game {
   width: 530px;
   background: white;
 }
 #loss {
   width: 100%;
   height: 450px;
   background-size: cover;
   background-position: center;
 }
 #animation {
   width: 100%;
   height: 450px;
 }
 .startpage_box {
   margin: auto;
 }
}

@media screen and (min-width: 1024px) {
 #container_start {
   background-image:url('img/background_1200.jpg');
}
button {
  font-size: 2em;
  margin: 5px;
  padding: 20px;
  font-weight: bold;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 3em;
}
.column1 {
  flex: 60%;
  max-width:60%;
  justify-content: center;
  align-items: center;
}
.column2 {
  flex: 40%;
  max-width: 40%;
}
.card,
.back,
.front {
  height: 150px;
  width: 150px;
}
#game {
  width: 650px;
  background: white;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#loss {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
#logogame {
  margin: auto;
  padding: 40px 20px 40px 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
#animation {
  width: 100%;
  height: 100vh;
}
.game_data {
  background: rgb(246, 160, 189);
  width: 100%;
  height: 100vh;
  float: left;
  border-left: 10px double grey;
  border-top: none;
  padding: 10px 50px 50px 50px;
  line-height: 1.2;
  overflow: hidden;
}
.container_game {
  display: flex;
  flex-wrap: wrap;
}
.startpage_box {
  margin: auto;
}
#monster {
  width: 600px;
}
#monsterAnimation {
  position: relative;
  left: 100px;
  bottom: -150px;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes monster {
  0%   {left:200px; bottom:-150px;}
  40%  {left:150px; bottom:50px;}
  50%  {left:150px; bottom:50px;}
  60%  {left:150px; bottom:50px;}
  100% {left:200px; bottom:-150px;}
}
}
